POSICIONES_ENTRENADORES=[1|1]
POKEMON_ENTRENADORES=[ ]
OBJETIVOS_ENTRENADORES=[Pikachu]
PUERTO_BROKER=6009
IP_BROKER=127.0.0.1
PUERTO_TEAM=5002
TIEMPO_RECONEXION=5
ALGORITMO_PLANIFICACION=FIFO
RETARDO_CICLO_CPU=1
QUANTUM=1
LOG_FILE=/home/utnso/log_team1.txt
ID=1
IP_TEAM=127.0.0.1


./gameboy TEAM APPEARED_POKEMON Pikachu 3 3 (falla)
./gameboy TEAM APPEARED_POKEMON Pikachu 5 5 (falla)
./gameboy GAMECARD NEW_POKEMON Gengar  2 2 1 1 (rechazado)
./gameboy GAMECARD NEW_POKEMON Pikachu  10 10 1 2 (acertado, pero al final)
./gameboy TEAM APPEARED_POKEMON Pikachu 6 6 (falla)