IP_BROKER=127.0.0.1
PUERTO_BROKER=6009
IP_TEAM=127.0.0.1
PUERTO_TEAM=5002
POSICIONES_ENTRENADORES=[2|3,6|5,9|9,9|2,2|9]
POKEMON_ENTRENADORES=[ , , , , ]
OBJETIVOS_ENTRENADORES=[Vaporeon,Jolteon,Flareon,Umbreon,Espeon]
ID=1
TIEMPO_RECONEXION=30
ALGORITMO_PLANIFICACION=RR
RETARDO_CICLO_CPU=5
QUANTUM=1
LOG_FILE=/home/utnso/log_team1.txt
LOG_FILE_AUX=/home/utnso/log_team1_aux.txt
